/* Article */

.article-image {
    max-width: 100%;
}

.article-list {
    padding-left: 0;
    list-style: none;
}

.article-list-latest {
    list-style: disc;
}

.article-list-item {
    clear: both;
    overflow: hidden;
}

.article-list-image {
    float: right;
    max-width: 100%;
    margin: 0 0 20px 20px;
}

.article-preface {
    font-weight: bolder;
    font-size: 1.3em;
}

/* Course */
.course-image {
    max-width: 100%;
}

.course-list {
    padding-left: 0;
    list-style: none;
}

.course-list-latest {
    list-style: disc;
}

.course-list-heading {
    background-color: cadetblue;
    color: #eeeeee;
}

.course-list-image {
    float: right;
    max-width: 100%;
    margin: 0 0 20px 20px;
}

.grid-example [class*="col-"] {
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}

/*  Carousel image */
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}